@charset "UTF-8";
/* CSS Document */

html,
body {
   width: 100%;
   height: 100%;
   padding: 0px;
   margin: 0px;
   font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   -ms-text-size-adjust: 100%;
   -webkit-texts-size-adjust: 100%;
   -webkit-backface-visibility: hidden;   
} 
 
@font-face {
   font-family: 'Billabong';
   font-style: normal;
   font-weight: normal;
   src: local('Billabong'), url('fonts/Billabong.woff') format('woff');
}
@font-face {
    font-family: 'robotolight';
    src: url('fonts/Roboto-Light-webfont.eot');
    src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Light-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Light-webfont.woff') format('woff'),
         url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
.insta_font {
   font-family: 'Billabong';
}

*:not(input), *:focus:not(input) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style: none;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.container-info {
    float: left;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
   border-right: 1px solid rgba(0,0,0,.0975);
    background-color: #ffffff;
	background-image:url(../uploads/logo/social_media_bg.jpg);
}

.container-main {
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    display: inline-block;
    padding: 20px;
	background-color:#fafafa;
}

.info-main {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    z-index: 5;
}


.info__headshot, .info__headshot-img {
    display: block;
    margin: auto;
    width: 170px; 
	transition: all 0.6s ease-out;
    -webkit-animation: fadeInRight 0.6s ease-in-out 0.6s;
    animation: fadeInRight 0.6s ease-in-out 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.info__tag {
    display: block;
    margin: 30px auto auto auto;
    color: #292929;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    font-size: 45px;
    font-weight: 500;
	transition: all 0.75s ease-out;
      -webkit-animation: fadeInRight 0.75s ease-in-out 0.75s;
    animation: fadeInRight 0.75s ease-in-out 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
 
.next_ {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    top: 13px;
    right: 13px;
	 transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
}
.left_register_btn {
    display: block;
    position: relative;
    width: 200px;
    margin: 30px auto auto auto;
    padding: 11px 24px;
    color: #292929;
    border-color: #292929;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap; 
	transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
}
.left_register_btn:hover {
  background-color:#292929;
  color:#ffffff; 
   
}
.left_register_btn:hover .next_ {
    background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
    background-position: -38px 0px;
	 transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
}
.global-wrapper-right {
    clear: both;
    display: block;
    margin: 40px 0 0 0; 
}
.global-wrapper-list {
    clear: both;
    display: block;
    margin: 60px 0 0 0; 
}
.note {
    position: relative;
    float: left;
    width: 100%;
    padding: 10px 0px;
    color: #333C45;
    text-align: center;
    font: 300 23px/37px "lato","pt sans","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.lg-rg-wrapper {
    position: relative;
    width: 100%; 
	display:inline-block;
}
.inputBox {
    position: relative;
    float: left;
    width: 100%;
    width: calc(100% / 3 - 0px);
    width: -webkit-calc(100% / 3 - 0px);
    width: -moz-calc(100% / 3 - 0px);
    width: -o-calc(100% / 3 - 0px);
    width: -ms-calc(100% / 3 - 0px);
    padding-right: 10px;
}
.icon_input {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    left: 8px;
    z-index: 1;
}
.icon_user {
    background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
    background-position: 0px -26px; 
	transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}
.i_nfrm:focus ~  .icon_user {
	background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
    background-position: -36px -26px;
	transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
} 
.icon_password {
    background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
    background-position: 4px -69px;
	transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}
.i_nfrm:focus ~  .icon_password {
	background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
    background-position: -35px -69px;
	transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}
.i_nfrm {
    position: relative;
    width: 100%;
    padding: 10px 15px;
    border-radius: 30px;
    -webkit-border-radius: 30px; 
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ADB1B4;
    color: #333C45;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    text-indent: 27px;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.b_u:focus {
border-color:#529ecc;
}
.b_p:focus {
border-color:#f2992e;
}
._rpioj_f {
    position: relative;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #333A43;
    width: 100%;
    padding: 8px 20px;
}
._rpioj_f a {
    text-decoration: none;
    font-weight: 300;
    color: #8A8A8A;
    font-size: 12px;
}
.submit_btn {
    width: 100%;
    padding: 0;
    outline: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #B119B4;
    font-family: 'Quicksand', sans-serif;
    -webkit-border-radius: 30px; 
    border-radius: 30px; 
	background-color:#B119B4;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
	transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}
.post-icon {
    background: #fff;
    border-radius: 50%;
    cursor: default;
    display: inline-block;
    font-size: 90px;
    height: 135px;
    line-height: 125px;
    margin: 10px 15px 30px;
    width: 135px;
    position: relative;
    vertical-align: top;
    transform-origin: 50% 50%;
    transition: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
	transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}
 
.post_features_item {
    position: relative;
    width: 100%;
    max-width: 815px;
    margin: 0px auto;
    padding: 40px 0px;
    text-align: center;
    vertical-align: baseline;
}
 
.text-icon {
    background-image: url(icons/quick_compose_sprite.png);
    background-repeat: no-repeat;  
    background-position: 19px 20px;
		transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}
.new-img-icon {
    background-image: url(icons/quick_compose_sprite.png);
    background-repeat: no-repeat;  
    background-position: 19px -83px;
		transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}
.new-link-icon {
    background-image: url(icons/quick_compose_sprite.png);
    background-repeat: no-repeat;  
    background-position: 19px -383px;
		transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}
.new-music-icon {
    background-image: url(icons/quick_compose_sprite.png);
    background-repeat: no-repeat;  
    background-position: 19px -183px;
		transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}
.new-video-icon {
    background-image: url(icons/quick_compose_sprite.png);
    background-repeat: no-repeat;  
    background-position: 19px -283px;
		transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}
.text-icon:hover {
    background-image: url(icons/quick_compose_sprite.png);
    background-repeat: no-repeat;  
    background-position: -84px 20px; 
	background-color:#272727;
	transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}
.new-img-icon:hover {
    background-image: url(icons/quick_compose_sprite.png);
    background-repeat: no-repeat;  
    background-position: -84px -83px;
		transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
	background-color:#d65039;
}
.new-link-icon:hover {
    background-image: url(icons/quick_compose_sprite.png);
    background-repeat: no-repeat;  
    background-position: -84px -383px;
		transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
	background-color:#4ab37c;
}
.new-music-icon:hover {
    background-image: url(icons/quick_compose_sprite.png);
    background-repeat: no-repeat;  
    background-position: -84px -183px;
		transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
	background-color:#a073ac;
}
.new-video-icon:hover {
    background-image: url(icons/quick_compose_sprite.png);
    background-repeat: no-repeat;  
    background-position: -84px -283px;
		transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
	background-color:#67717b;
}
.post-icon:nth-child(2).icon-open {
    transition-delay: .1s;
}

.post-icon:nth-child(1) .icon-label {
    color: #444;
}
.post-icon:nth-child(2) .icon-label {
    color: #D1513D;
}
.post-icon .icon-label {
    font-size: 18px;
    left: 0;
    line-height: 1;
    margin-top: 15px;
    position: absolute;
    top: 100%;
    width: 100%;
    font-weight: 500;
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
}
.feature_block {
   position:relative;
   width:100%;
   width: calc(100% / 3 - 0px);
   width: -webkit-calc(100% / 3 - 0px);
   width: -ms-calc(100% / 3 - 0px);
   width: -moz-calc(100% / 3 - 0px);
   width: -o-calc(100% / 3 - 0px);
   padding:8px;
}
.flex {
  display:flex;
  display:-webkit-flex;
  display:-moz-fex;
  display:-ms-flex;
}
.feature_block_box {
  position:relative;
  width:100%;
  display:inline-block;
  min-height:300px;
  background-color:#ffffff;
  padding:15px;
  	border-radius:3px;
	-webkit-border-radius:3px; 
	-o-border-radius:3px;
	-ms-border-radius:3px;
	transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}
.feature_icon {
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    -webkit-border-radius: 50%; 
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    
	background-color:#ffffff;
	border:1px solid #ffffff;
	margin:0px auto; 
		
}
.heart_icon {
	background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
    background-position: 18px -134px;
transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}
.follow_icon {
	background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
    background-position: 18px -365px;
transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}
.story_icon { 
  background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
      background-position: -87px -137px;
transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}
.feature_title {
  position:relative;
  width:100%;
  padding:10px 0px;
  text-align:center;
  color:#292929;
  font-size:20px;
  font-weight:300;
  font-family:"lato","pt sans","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  text-transform:capitalize;
}
.feature_description {
  position:relative;
  width:100%;
  padding:10px 0px;
  text-align:center;
  color:#292929;
  font-size:15px;
  font-weight:300;
}
.feature_block:hover .heart {
  background-color:#EF5B2F; 
}
.feature_block:hover .follow {
  background-color:#1dc028; 
}
.feature_block:hover  .heart_color{
  background-color:#EF5B2F; 
}
.feature_block:hover  .follow_color{
   background-color:#1dc028; 
}
.feature_block:hover  .story_color{
   background-color:#a77dc2; 
}
.feature_block:hover .heart_icon {
  background-color:#EF5B2F;
  background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
  background-position: 18px -246px;
  border:1px solid #EF5B2F;
  margin-top:-70px; 
}
.feature_block:hover .follow_icon {
  background-color:#1dc028;
  background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
  background-position: 18px -475px;
  border:1px solid #1dc028;
  margin-top:-70px; 
}
.feature_block:hover .story_icon {
  background-color:#a77dc2;
  background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
      background-position: -87px -250px;
  border:1px solid #a77dc2;
  margin-top:-70px;  
}
.feature_block:hover .feature_title {
  color:#ffffff;
}
.feature_block:hover .feature_description {
  color:#ffffff;
}

.change_language {
    position: absolute;
    padding: 1px 7px;
    border: 1px solid #292929;
    border-radius: 3px;
    -webkit-border-radius: 3px; 
    -o-border-radius: 3px;
    color: #292929;
    left: 15px;
    top: 15px;
    line-height: 28px;
    font-size: 13px;
    font-weight: 300;
	cursor:pointer;
}

.lang_icon {
    position: relative;
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%; 
    -o-border-radius: 50%;
    background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
    background-position: -74px 5px;
	transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}
.change_language:hover {
 background-color:#292929;
 color:#ffffff;
}
.change_language:hover .lang_icon{
 background-position: -105px 5px;
}
/*Regiter Modal STARTED*/
.modal-open {
    opacity: 1 !important;
    transform: scale(1) !important;
    transition-property: transform;
}
.popUp__Wrapper {
    position: fixed;
    z-index: 999;
    padding-top: 0px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    opacity: 0;
    transform: scale(0);
    justify-content: center;
    background-color:rgba(255,255,255, .5);
}
.notsendedMail {
    background-color: #FE0048;
    color: #ffffff;
    padding: 10px 15px !important;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
}
.sendedMail {
    background-color: #00C81F;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px !important;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
}
.modal-Wrap {
    font-family: Helvetica, Arial, sans-serif;
    margin: 40px auto 40px;
    position: relative;
    width: 100%;
    max-width: 500px;
    transition: all .3s ease-out;
    -webkit-animation: zoomIn 0.45s ease-in-out 0.3s;
    animation: zoomIn 0.45s ease-in-out 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.middle_open {
    display: block !important;
}
.modal-middle {
    background-color: #ffffff;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
    border-radius: 2px;
    -webkit-border-radius: 2px; 
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    margin: 0;
    position: absolute;
    display: none;
    width: 100%;
    padding: 40px 0px;
    min-height: 400px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all .3s ease-out;
    -webkit-animation: zoomIn 0.3s ease-in-out 0.3s;
    animation: zoomIn 0.3s ease-in-out 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
 
.note {
    position: relative;
    float: left;
    width: 100%;
    padding: 10px 0px;
    color: #333C45;
    text-align: center;
    font: 300 23px/37px "lato","pt sans","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.global-wrapper-reg {
    clear: both;
    display: block;
    padding: 0px 50px;
    overflow: auto;
}
.global-input-wrapp {
    position: relative;
    width: 100%;
    padding: 5px 0px;
    display: inline-block;
}
 
.days #subscription_day {
    border-radius: 30px;
    -webkit-border-radius: 30px; 
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #D6D7D9;
    color: #333B44;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    text-indent: 0px; 
	-moz-appearance: none;
-webkit-appearance: none;
padding: 5px 15px;
}
.days #subscription_month {
    border-radius: 30px;
    -webkit-border-radius: 30px; 
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #D6D7D9;
    color: #333B44;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    text-indent: 0px; 
	-moz-appearance: none;
-webkit-appearance: none;
padding: 5px 15px;
}
.days #subscription_year {
    border-radius: 30px;
    -webkit-border-radius: 30px; 
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #D6D7D9;
    color: #333B44;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    text-indent: 0px; 
	-moz-appearance: none;
-webkit-appearance: none;
padding: 5px 15px;
}
.i_bg {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    position: relative;
    float: left;
    margin-right: 10px;
    padding: 8px 0px;
}
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 29px;
    font-size: 14px;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-family: 'Quicksand', sans-serif;
	    color: #333A44;
}

[type="radio"] + label:before,
[type="radio"] + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  transition: .28s ease;
}

/* Unchecked styles */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:before,
[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
  border-radius: 50%;
}

[type="radio"]:not(:checked) + label:before,
[type="radio"]:not(:checked) + label:after {
  border:2px solid #B521B7;
}

[type="radio"]:not(:checked) + label:after {
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
}

/* Checked styles */
[type="radio"]:checked + label:before {
  border: 2px solid transparent;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
  border: 2px solid #B521B7;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
  background-color: #B521B7;
  z-index: 0;
}

[type="radio"]:checked + label:after {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

/* Radio With gap */
[type="radio"].with-gap:checked + label:after {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

/* Focused styles */
[type="radio"].tabbed:focus + label:before {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Disabled Radio With gap */
[type="radio"].with-gap:disabled:checked + label:before {
  border: 2px solid rgba(0, 0, 0, 0.26);
}

[type="radio"].with-gap:disabled:checked + label:after {
  border: none;
  background-color: rgba(0, 0, 0, 0.26);
}

/* Disabled style */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.26);
}

[type="radio"]:disabled + label {
  color: rgba(0, 0, 0, 0.26);
}

[type="radio"]:disabled:not(:checked) + label:before {
  border-color: rgba(0, 0, 0, 0.26);
}

[type="radio"]:disabled:checked + label:after {
  background-color: rgba(0, 0, 0, 0.26);
  border-color: #BDBDBD;
}
._rpioj {
position: relative;
text-align: center;
font-weight: 400;
font-size: 14px;
color: #333A43;
width: 100%;
padding: 8px 0px;
}
._rpioj a {
    text-decoration: none;
    font-weight: 600;
    color: #B118B3;
}
.icon_input_register {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 11px;
    left: 8px;
    z-index: 1; 
    border-radius: 50%;
    -webkit-border-radius: 50%; 
    -o-border-radius: 50%;
}

.icon_user_register {
    background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
    background-position: 2px -25px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
}
.i_nfrm:focus ~  .icon_user_register {
	background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
     background-position: -35px -25px;
	transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}

.fullname:focus {
border:1px solid #56bc8a;
}
.icon_input_fullname {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 11px;
    left: 8px;
    z-index: 1; 
    border-radius: 50%;
    -webkit-border-radius: 50%; 
    -o-border-radius: 50%;
}

.icon_user_fullname {
    background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
    background-position: -72px -25px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
}
.i_nfrm:focus ~  .icon_user_fullname {
	background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
     background-position: -105px -25px;
	transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}
.icon_email:focus {
border:1px solid #a77dc2;
}
.icon_input_email {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 11px;
    left: 8px;
    z-index: 1; 
    border-radius: 50%;
    -webkit-border-radius: 50%; 
    -o-border-radius: 50%;
}

.icon_user_email {
    background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
    background-position: -72px -69px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
}
.i_nfrm:focus ~  .icon_user_email {
	background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
     background-position: -105px -69px;
	transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}
.u_password:focus {
border:1px solid #d95e40;
}
.icon_input_password {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 11px;
    left: 8px;
    z-index: 1; 
    border-radius: 50%;
    -webkit-border-radius: 50%; 
    -o-border-radius: 50%;
}

.icon_user_password {
    background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
    background-position: 4px -103px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
}
.i_nfrm:focus ~  .icon_user_password {
	background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
   background-position: -35px -103px;
	transition: all .5s ease;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;	
}
.close_register {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
    background-position: -70px -101px;
    cursor: pointer;
}
 .languagePopUpContainer {
    position: fixed;
    z-index: 999;
    padding-top: 0px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    opacity: 0;
    transform: scale(0);
    justify-content: center;
    background-color:rgba(255,255,255, .5);
}
.language_modal_wrap {
    font-family: Helvetica, Arial, sans-serif;
    margin: 40px auto 40px;
    position: relative;
    width: 100%;
    max-width: 500px;
    transition: all .3s ease-out;
    -webkit-animation: zoomIn 0.45s ease-in-out 0.3s;
    animation: zoomIn 0.45s ease-in-out 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.register-modal-middle {
    background-color: #ffffff;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
    border-radius: 2px;
    -webkit-border-radius: 2px; 
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    margin: 0;
    position: absolute;
    display: none;
    width: 100%;
    padding: 40px 0px;
    min-height: 240px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all .3s ease-out;
    -webkit-animation: zoomIn 0.3s ease-in-out 0.3s;
    animation: zoomIn 0.3s ease-in-out 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.close_languages {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-image: url(icons/lgIcons.png);
    background-repeat: no-repeat;
    background-position: -70px -101px;
    cursor: pointer;
}
.global-wrapper-box {
    clear: both;
    display: block;
    padding: 0px 50px;
    overflow: auto;
}
.lang_name_box {
   position:relative;
   float:left;
   width:100%;
   width:calc(100% / 2 - 0px);
   width:-webkit-calc(100% / 2 - 0px);
   width:-moz-calc(100% / 2 - 0px);
   width:-ms-calc(100% / 2 - 0px);
   width:-o-calc(100% / 2 - 0px);
       padding: 10px;
    text-align: center;
    color: #292929;
    font-size: 14px;
    font-weight: 300;
	cursor:pointer;
}
.lang_name_box:nth-child(odd) { 
    border-bottom: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
}
.lang_name_box:nth-child(even) {
    border-bottom: 1px solid #ECECEC;
    border-right: 1px solid transparent;
}
.lang_name_box:nth-child(1) {
    border-top: 1px solid #ECECEC; 
}
.lang_name_box:nth-child(2) {
    border-top: 1px solid #ECECEC; 
}
.lang_name_box:hover {
  background-color:#ECECEC;
}
/*Register Modal FINISHED*/
/*Loading Spinner STARTED*/
.colorTransparent {
color: transparent !important;
background-color: transparent !important;
border-color: transparent !important;
width:40px !important;
margin:0px auto !important;
}
.loader06 {
    width: 56px;
    height: 56px;
    border: 4px solid transparent;
    border-radius: 50%;
	-webkit-border-radius:50%; 
	-o-border-radius:50%;
	-ms-border-radius:50%;
    position: absolute;
top: -11px;
    left: 33.5%;
    margin: 0px auto;
}
  .loader06::before {
    content: '';
    border: 4px solid #B119B4;
    border-radius: 50%;
    width: 67.2px;
    height: 67.2px;
    position: absolute;
    top: -9.6px;
    left: -9.6px;
    animation: loader-scale 1s ease-out infinite;
	-webkit-animation: loader-scale 1s ease-out infinite;
	-moz-animation: loader-scale 1s ease-out infinite;
	-o-animation: loader-scale 1s ease-out infinite;
    animation-delay: 1s;
    opacity: 0; 
}
  .loader06::after {
    content: '';
    border: 4px solid #B119B4;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    position: absolute;
    top: -4px;
    left: -4px;
    animation: loader-scale 1s ease-out infinite;
	-webkit-animation: loader-scale 1s ease-out infinite;
	-moz-animation: loader-scale 1s ease-out infinite;
	-o-animation: loader-scale 1s ease-out infinite;
    animation-delay: 0.5s; }

@keyframes loader-scale {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }

/*Loading Spinner FINISHED*/
/*Reset Password STARTED*/
.forgot_body {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0px auto;
    margin-top: 10%;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    padding: 25px 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px; 
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.n_rfrm {
    position: relative;
    width: 100%;
    display: inline-block;
}
.n_in {
    position: relative;
    display: inline-block;
    padding: 4px 0px;
    width: 100%;
}
.i_nfrm_forgot {
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #262626;
    font-size: 14px;
    padding: 15px 12px 14px;
    -webkit-appearance: none;
    width: 100%;
	outline:none;
}
.i_nfrm_forgot:focus {
  border:1px solid #529ecc;
}
.n_in a {
    text-decoration: none;
}

.remembered {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    cursor: pointer;
	width:100%;
	text-align:center;
    padding: 5px 7px;
    border-radius: 2px;
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    text-decoration: none;
    border: 1px solid #9da6af;
    background-color: #9da6af;
    color: #fff;
}
.remembered:active {
    border-color: #929ca6;
    background-color: #929ca6;
    color: hsla(0,0%,100%,.8);
}

.reset_password {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 5px 7px;
    border-radius: 2px;
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    text-decoration: none;
    border: 1px solid #529ecc;
    background-color: #529ecc;
    color: #fff;
}
.reset_password:active {
    border-color: #4295c7;
    background-color: #4295c7;
    color: hsla(0,0%,100%,.8);
}

/*Reset Password FINISHED*/
.alreadyexist {
   position:absolute;
   width:100%;
   padding:10px 0px;
   top:3px;
   z-index:-1;
}
.alreadyexist_in {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0px auto;
    text-align: center;
    background-color: #d32f2f;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px; 
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
ul:not(.browser-default) {
    list-style-type: none;
}
.u4mil {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.n3ufer {
    display: inline-block;
    margin-bottom: 7px;
    margin-right: 0px;
    font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #A5AAB5;
    cursor: pointer;
}
.n3ufer a {
    text-decoration: none;
    color: #A5AAB5;
}
.footer_wellcome {
  position:relative;
  width:100%;
  padding:10px;
}
.n3ufer:not(:last-of-type)::after {
    content: "\00B7";
    margin: 0px 1px 0px 6px;
}
.maintenance_note_container{
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 3px;
    -webkit-border-radius: 3px; 
    background-color: #ffffff;
    padding: 5px;
	 -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2);
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2);
	 border: 1px solid #DDDDDD;
}
.fadeInMaintenance {
transition: all 0.4s ease-out;
    -webkit-animation: fadeInUp 0.4s ease-in-out 0.4s;
    animation: fadeInUp  0.4s ease-in-out 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fadeOutMaintenance {
transition: all 0.2s ease-out;
    -webkit-animation: fadeOutDown 0.2s ease-in-out 0.2s;
    animation: fadeOutDown  0.2s ease-in-out 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.maintenance_header {
  position:relative;
  width:100%;
  overflow:hidden;
}
.maintenance_header img {
  width:100%;
}
.maintenance_note {
  position:relative;
  width:100%; 
  display:inline-block;
}
.maintenance_title{
position:relative;
  padding:20px 0px;
  text-align:center;
  font-weight:600;
  font-size:20px;
  color:#24598D;
   text-transform: uppercase; 
}
.maintenance_info {
   position:relative;
   width:100%;
   padding:10px 20px;
   font-weight:500;
   font-size:16px;
   color:#24598D;
}
.close_maintenance {
	position:absolute;
	width:30px;
	height:30px;
	border-radius:50%;
	-webkit-border-radius:50%; 
	top:10px;
	right:10px;
	background-image:url(icons/icons_two.png);
	background-repeat:no-repeat;
	background-position: 4px -208px;
	z-index:1;
	cursor:pointer;
}
.brth {
color: #353E47;
font: 600 16px/27px "lato","pt sans","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}
.n_rfrm .progress {
   background-color:#1dafec !important;
}
/*ANIMATIONS STARTED*/
.animated-fadeInUp {
  -moz-animation: fadeInUp 0.5s ease-in-out 0.5s;
  -webkit-animation: fadeInUp 0.5s ease-in-out 0.5s;
  animation: fadeInUp 0.5s ease-in-out 0.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated-fadeInDown {
  -moz-animation: fadeInDown 0.5s ease-in-out 0.5s;
  -webkit-animation: fadeInDown 0.5s ease-in-out 0.5s;
  animation: fadeInDown 0.5s ease-in-out 0.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bgAnimation {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@-moz-keyframes bgAnimation {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@-o-keyframes bgAnimation {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@keyframes bgAnimation { 
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }
  50% {
    opacity: 1
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }
  50% {
    opacity: 1
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn
}
@-webkit-keyframes well-animation3 {
   0%,
   25% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
      opacity: 0
   }
   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1
   }
}

@keyframes well-animation3 {
   0%,
   25% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
      opacity: 0
   }
   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1
   }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

/*ANIMATIONS FINISHED*/


/*LAYOUT SCREENS STARTED*/
@media screen and (max-width:927px){
.container-info {
    display: inline-block;
    position: relative;
    width: 100%;
    max-height: 490px; 
}
.container-main {
    display: inline-block;
    padding: 20px;
    position: relative;
    width: 100%;
    overflow: hidden;
	height:auto;
} 
}
@media screen and (max-width:625px){
.inputBox {
    position: relative;
    float: left;
    width: 100%;
    width: calc(100% / 1 - 0px);
    width: -webkit-calc(100% / 1 - 0px);
    width: -moz-calc(100% / 1 - 0px);
    width: -o-calc(100% / 1 - 0px);
    width: -ms-calc(100% / 1 - 0px);
    padding-right: 3px;
	margin-bottom:10px;
}
.feature_block {
    position: relative;
    width: 100%;
    width: calc(100% / 1 - 0px);
    width: -webkit-calc(100% / 1 - 0px);
    width: -ms-calc(100% / 1 - 0px);
    width: -moz-calc(100% / 1 - 0px);
    width: -o-calc(100% / 1 - 0px);
    padding: 8px;
}
.flex {
  display:block !important;
}
}
@media screen and (max-width:520px){
	.container-info { 
        border-right: 1px solid transparent;
	   border-bottom: 1px solid rgba(0,0,0,.0975);
}
 
.modal-Wrap { 
    margin: 0px auto 0px; 
    height: 100%; 
}
.language_modal_wrap { 
    margin: 0px auto 0px; 
    height: 100%; 
}
.modal-middle {
min-height: 100%;
    top: 0%;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}

.register-modal-middle {
min-height: 100%;
    top: 0%;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}
    
}

/*LAYOUT SCREENS FINISHED*/